/* .contact input, .contact textarea {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
}

.contact button {
    display: block;
} */
.contact a {
    text-align: center;
    font-size: 1.75rem;
    color: #475b79;
    text-decoration: none;
}

.contact a:hover, .footer a:focus, .footer a:active {
    color: #92cccd;
}
